@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 246, 253);
  
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  
}
input,
textarea {
  width: 250px;
  text-align: left;
  border-left-width: thin;
}


.app {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
}

/* Contact.js */
.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
margin-left:650px;
text-align: left;
  
  
}

.form > h1 {
  margin-bottom: 30px;
  
}

.form > input,
textarea {
  padding: 20px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 20px;
  border: 1px solid lightgray;
  /* border: none; */
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;

}

.form > input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
 
}

.form > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;

}

.form > label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
  
  
}

.form > button {
  padding: 20px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  
}

.form > button:hover {
  background-color: rgb(0, 0, 196);
   
}
input{
 
  size: 5px;
box-sizing:content-box;
 text-align: left;
 align-items: flex-start;
 cursor: default;
 
 
}
button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}
.img1{
  background-color: black;
  margin-left: 400px;
 
  width: 600px;
}
.checkbox{
  display: inline-block;
  width: 500px;
  margin-left: 0px;
}

.Pricetext{
width: 130px;

}
.Date{
margin-right: 200px;
}
.Radio{
  width: 500px;
 
  
}
.Button{
 margin-left: 100px;
 width: 400px;
}
.insurance{
margin-left: 300px;
}

.paypal-logo {
  display: inline-block;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  font-size: 20px;
}
